<%- include("header") -%>
        <form action="/compose" method="post">
            <label for="title">Título: </label>
            <input type="text" name="title" id="">
            <label for="imagem">Url da imagem: </label>
            <input type="text" name="imagem" id="">
            <label for="conteudo">Conteúdo:</label>
            <textarea name="conteudo" rows="15" cols="50" maxlength="10000" ></textarea>
            <button type="submit" class="btnsend">ENVIAR</button>
        </form>
        <script src="/js/validator.js"></script>

<%- include("footer") -%>