body {
    margin: 0;
    font-family: "Open sans", Arial, Helvetica, sans-serif;
    background-color: #E7EED3;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul,
  h1,
  li {
    padding: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  p,
  blockquote,
  ul {
    margin: 0;
  }
  
  button {
    border: none;
    cursor: pointer;
  }
  

li, h1 {
    font-family: 'Patrick Hand', cursive;
    color: #445D00;
}

.container {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.nav{
    display: flex;
    gap: 40px;
    font-size: 20px;
    align-items: center;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #C4D0A3;
    display: flex;
    flex-direction: row;
}

.logo-nav img{
    width: 120px;
    padding: 0 40px;
}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    clear: both;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	font-size: 15px;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 80%;
}

form label {
    margin-top: 5px;
    font-size: 30px;
    font-weight: 100;
}

form input, select {
    margin: 5px 0;
    height: 40px;
    font-size: 30px;
}

form textarea {
    font-size: 20px;
    resize: none;
    word-break: break-all;
}


.btnsend, .btnReadMore {
    background-color: #f1eaea;
    border-radius: 24px;
    border: 3px solid transparent;
    color: #445D00;;
    font-size: 25px;
    margin: 15px 0;
    padding: 10px;
    width: 200px;
}

.btnsend:hover, .btnReadMore:hover {
	background-color: #1abc9c;
    color: #fff;
	transition-delay: .1s;
}

.btnsend:active, .btnReadMore:active {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(2px);
}

.postCard{
    margin-top: 20px;
    background-color: #C4D0A3;
    display: flex;
    justify-content: start;
    border-radius: 24px;
    max-height: 400px;
    padding-right: 40px;
    box-shadow: 5px 5px 10px rgba(0, 4, 4, 0.25);
}

.postCard article {
    display: inline-block;
    word-wrap:break-word;
    display: flex;
    flex-direction: column;
    flex: 4;
    gap: 20px;
    padding: 20px 0;
}

.postImage {
    display: flex;
    flex: 1;

}

.postImage img {
    border-radius: 24px 0 0 24px;
    max-width: 300px;
}

img {
    max-width: 600px;
}

.postCardLink {
    display: flex;
    justify-content: flex-end;

}

.btnReadMore {
    font-size: 24px;
}