html, body {
    height: 100%;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    clear: both;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	font-size: 15px;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 80%;
}

form label {
    margin-top: 5px;
    font-size: 30px;
    font-weight: 100;
}

form input {
    margin: 5px 0;
    height: 40px;
    font-size: 30px;
}

form textarea {
    font-size: 20px;
    resize: none;
    word-break: break-all;
}

.notValid {
    background-color: rgb(241, 169, 169);
}

.btnsend, .btnReadMore {
    background-color: #f1eaea;
    border-radius: 3px;
    border: 3px solid transparent;
    color: #000;
    font-size: 25px;
    margin: 15px 0;
    padding: 10px;
    width: 200px;
}

.btnsend:hover, .btnReadMore:hover {
	background-color: #1abc9c;
    color: #fff;
	transition-delay: .1s;
}

.btnsend:active, .btnReadMore:active {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(4px);
}

.postCard{
    width: 80%;
    margin-top: 20px;
}

.postCard article {
    display: inline-block;
    word-wrap:break-word;

}

.postImage {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

img {
    max-width: 600px;
}

.postCardLink {
    display: flex;
    justify-content: flex-end;
}

.btnReadMore {
    width: 100px;
    font-size: 15px;
}